NEXT_PUBLIC_SUPABASE_URL=https://kljoxygghqpqeoryoqhl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsam94eWdnaHFwcWVvcnlvcWhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxODc2ODgsImV4cCI6MjA5ODc2MzY4OH0.CbqfO1CCjPC2HMM6IfzXhhnc0dV7A777j1T058AtV9o
RESEND_API_KEY=re_your_api_key_here
